.btn{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-size: var(--body_N);
 width: 100%;   
}
.cta_filled{
    background-color: var(--accent);
    color: var(--white);
}
.cta_filled:hover{
opacity: 0.8;
}
.cta_outline{
    color: var(--accent);
    border: 1px solid var(--accent);
    background-color: var(--white);
}
.cta_outline:hover{
    opacity: 0.8;
}

/* .outline_primary:hover{
    color: var(--primary_700);
    border: 1px solid var(--primary_700);
    background-color: var(--on-primary_700);
} */
/* .outline_primary:disabled{
    opacity: 0.6;
    border: 1px solid var(--primary, #2C3E50);
} */
.daily_relapsing_check_fail{
background-color: #493B3B;
color: var(--black);
border: 1px solid var(--black);
background: var(--white, #FFF);
width: 350px;

}
.daily_relapsing_check_fail:hover{
    opacity: 0.8;
}
.daily_relapsing_check_success:hover{
    opacity: 0.8;
}
.daily_relapsing_check_success{
    background-color: var(--secondary);
    color: var(--white);
    width: 350px;

}
.login_btn{
    background-color: #FC39B7;
    height: 100%;
    color: white;
}

.signup_btn_link div{
    border-bottom: 1px solid #FC59C3;
    color: #FC59C3 ;
    
}
.singup_btn{
    background: #8A045B;
    color: white;
    height: 100%;
}
.login_btn_link div{
    border-bottom: 1px solid #B20575;
    color: #B20575 ;
    
}
.landing_cta{
    border-radius: 8px;
background: #CA8B13;
display: flex;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 8px;
color: white;
font-size: var(--body_N);
}
.btn_delete{
    border: 1px solid var(--error, #B00020);
background: var(--on-primary, #FFF);
color: var(--error);

}
.btn_404{
    color: #5656a3;
}
.btn_404:hover{
background-color: #5656a380;
color: white;
}