.btn{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
}
.cta_hero {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.cta_hero .label{
    position: absolute;
    right: -140px;
    transform: translateX(40px);
    z-index: 1;
    color: #2D2C2B;
   
}
.cta_hero svg{
    z-index: 1;
    color: white;
}
.cta_hero::before{
    content: "";
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: var(--secondary-700);
    border-radius: 100px;
    position: absolute;
    z-index: 1;
}
.cta_hero:hover{
    
}
.cta_hero:hover .label{
    position: static;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    color: var(--neutral-white);

    
}
.cta_hero:hover::before{
    width: 100%;
    transition: width 0.3s ease-out; 
}





.cta_home{
    background-color: var(--primary-500);
    color: var(--neutral-white);
    border-radius: 10px;
    
}
.cta_home:hover{
opacity: 0.8;
}
.secondary_filled{
    background-color: var(--secondary-500);
    color: var(--white);
}
.secondary_filled:hover{
opacity: 0.8;
}
.cta_nav_outline{
    color: var(--secondary-700);
    border: 1px solid var(--secondary-700);
    background-color: var(--neutral-white);
}
.cta_nav_outline:hover{
    opacity: 0.8;
}
.cta_nav_filled{
    color: var(--neutral-white);
    background-color: var(--secondary-700);
}
.cta_nav_filled:hover{
    opacity: 0.8;
}


.daily_relapsing_check_fail{
background-color: #493B3B;
color: var(--black);
border: 1px solid var(--black);
background: var(--white, #FFF);
width: 350px;

}
.daily_relapsing_check_fail:hover{
    opacity: 0.8;
}
.daily_relapsing_check_success:hover{
    opacity: 0.8;
}
.daily_relapsing_check_success{
    background-color: var(--secondary);
    color: var(--white);
    width: 350px;

}
.login_btn{
    background-color: var(--primary);
    height: 100%;
    color: white;
}
.login_btn:hover{
    color: var(--primary);
    background-color: white;
    border: 1px solid var(--primary);
}

.signup_btn_link div{
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    
    
}
.signup_btn_link div:hover{
    opacity: 0.8;
    
}
.signup_btn{
    background: var(--accent);
    color: white;
    height: 100%;
}
.signup_btn:hover{
    color: var(--accent);
    border: 1px solid var(--accent);
    background-color: white;
    height: 100%;
}
.login_btn_link div{
    border-bottom: 1px solid var(--accent);
    color: var(--accent) ;
    
}
.login_btn_link div{
   opacity: 0.8;
    
}
.landing_cta{
    border-radius: 8px;
background: #CA8B13;
display: flex;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 8px;
color: white;
font-size: var(--body_N);
}
.btn_delete{
    border: 1px solid var(--error, #B00020);
background: var(--on-primary, #FFF);
color: var(--error);

}
.btn_404{
    color: #5656a3;
    border: 1px solid #5656a3;
}
.btn_404:hover{
background-color: #5656a380;
color: white;
}


@media only screen and (max-width: 1024px) {
    .daily_relapsing_check_fail{
        width: 240px; 
    }
        .daily_relapsing_check_success{
            width: 240px; 
        
        }
      }
@media only screen and (max-width: 797px) {
    .cta_hero .label{
        position: static;
        transform: translateX(0);
        color: var(--neutral-white);
    }
    .cta_hero::before{
        width: 100%;   
    }

    .daily_relapsing_check_fail{
        width: 150px; 
    }
        .daily_relapsing_check_success{
            width: 150px; 
        }
      }