


.menubar .menu_item{
   
    border-bottom: 2px solid transparent;

    cursor: pointer;
}
.menubar .menu_item:hover{
border-bottom: 2px solid var(--secondary-900);
color: var(--secondary-900);
}
.menubar .active_item{
    border-bottom: 2px solid var(--secondary-900);
    color: var(--secondary-900); 
} 