.relapsing-check {
  align-self: stretch;
  height: calc(100vh - 90px);
}
.relapsing-check h2 {
  font-size: var(--h2);
  font-weight: 500;
  color: var(--primary);
}

.passed_container {
  background-image: url("../../images/congratulation.png");
  background-position: center;
  background-size: cover;
  padding: 128px !important;
  z-index: 999 !important;
  border-radius: 16px !important;
}
.passed_container .header {
  background-color: #f2fdff;
}
.passed_container .header h1 {
  font-size: var(--h1);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: normal;
}
.passed_container .header p {
  color: var(--black);
  font-size: var(--body_N);
  font-weight: 600;

  text-align: center;
}
.passed_container .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  font-size: var(--body_S);
  font-weight: 400;
  text-align: center;
  align-items: center;
  background-color: #f2fdff;
}
.passed_container .content button {
  width: fit-content;
}

@media only screen and (max-width: 1024px) {
  .passed_container {
    padding: 32px !important;
  }
  .passed_container .header h1 {
    font-size: var(--h2);
  }
  .passed_container .header p {
    font-weight: 500;
  }
}
@media only screen and (max-width: 797px) {
  .passed_container {
    width: fit-content !important;
  }
}
