
.relapsing-check h2 {
  color: var(--neutral-black);
}

.passed_container {
  background: url("../../images/congratulation.png") lightgray 50% / cover no-repeat;
  background-color:  #000A23 !important;
  background-position: center;
  z-index: 999 !important;
  border-radius: 16px !important;
}






