@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-VariableFont_wght.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}
@layer base {
  :root {
    --h1: 3rem;
    --h2: 1.875rem;
    --h3: 1.5rem;
    --h4: 1.25rem;
    --body_L: 1.125rem;
    --body_N: 1rem;
    --body_S: 0.875rem;
    --body_XS: 0.625rem;
    --body_XXS: 0.5rem;

    --primary: #040093;
    --secondary: #f5c056;
    --accent: #44cd1f;
    --background: #ffffff;
    --error: #ff002e;
    --white: #ffffff;
    --black: #000000;
    --outline: rgba(0, 0, 0, 0.12);
    --black_high_emphasis: rgba(0, 0, 0, 0.87);
    --black_medium_emphasis: rgba(0, 0, 0, 0.6);
    --black_disabled: rgba(0, 0, 0, 0.38);
  }
  .main_layout {
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
  .full_screen_section {
    width: 100%;
  }
  @media only screen and (max-width: 1024px) {
    .full_screen_section {
      height: auto;
    }
  }
  @media only screen and (max-width: 797px) {
    .full_screen_section {
      height: auto;
    }
  }
}
