
.leaders-board {
    align-self: stretch;
}
.leaders-board  h1{
    font-size: var(--h1);
    font-weight: 700;
    color: var(--primary);
}

  .carousel-content {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
  }
.no_leaders{
    width: 100%;
    font-size: var(--h2);
}

