.main_article_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 32px 64px;
    width: 100%;
    height: 100vh;
}
.main_article_section  h1{
    color: var(--primary);
    font-size: var(--h1);
    font-weight: 700;
}
