.articles_list{
    gap: 32px;
}


.articles_section .container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
padding: 32px 72px;
align-self: stretch;
}


.articles_section .container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
   
}
.articles_section .container .header h1{
    color: var(--primary);
    font-size: var(--h1);
    font-weight: 700;
}
.articles_section .container .header .tab{
    border-radius: 6px;
    background-color: var(--surface);
    padding: 4px;
    width: fit-content;
}
.articles_section .container .header .tab p {
    color: var(--primary);
font-size: var(--body_S);
font-weight: 400;
}


.articles_section .container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.no_articles h4{
    font-size: var(--h2);
    font-weight: 700;
}
.no_articles .description{
    gap: 8px;
    display: flex;
    flex-direction: column;
    font-size: var(--body_N);
    font-weight: 400;
    color: var(--on-surface_medium_emphasis);
}