.avatar_main{
  position: relative;
  width: 100%;
  height: auto;
  
}
.avatar_main img{
    width: calc(100% - 3px);
    height: auto;
    margin: 0 auto;
}
.avatar_main .avatar_badge{
    position: absolute;
    width: 100%;
    height: auto;
    left: -1px;
    top: -1px;
    

}
