#counter_section h2{
    font-size: var(--h2);
    font-weight: 700;
    text-align: center;
    color: var(--primary);
}
#stats_section{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    width: 100%;
    padding: 0 64px;
}
#stats_section .stats_element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#stats_section .stats_element h1{
    color: var(--black_medium_emphasis);
    font-size: var(--h1);
    font-weight: 700;
    line-height: normal;
}
#achievements_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 128px;
    width: 100%;
}
#achievements_section h1{
    color: var(--primary);
    font-size: var(--h1);
    font-weight: 700;
}
#join_challenge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: calc(100vh - 90px);
}
#join_challenge h4{
    font-size: var(--h4);
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    #counter_section{
        height: calc(100vh - 90px);
        
        }
    #stats_section{
            justify-content: space-between;     
        }
    #stats_section .stats_element h1{
            font-weight: 600;           
        }
        #achievements_section{
            padding: 0 64px;
            width: 100%;
        }
      }
@media only screen and (max-width: 797px) {
    #counter_section{
        width: 100%;
        height: auto;
        padding: 32px 0;
    }
    #stats_section{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
      }