
#posts_section .header{
    justify-content: space-between;
}
#posts_section  .content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}


.create_post_btn .btn{
    width: fit-content;
}

.no_posts{
    height: calc(100vh - 92px);
}
.no_posts h2{
font-size: var(--h4);
font-weight: 700; 
text-align: center;
}
.no_posts p{
font-size: var(--body_N);
font-weight: 400;
color: var(--black_medium_emphasis);
}



.comments_section{
    width: 100%;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.comments_section .post_comment_field{
    display: flex;
    padding: 4px 0 ;
    align-items: center;
    gap: 8px; 
    justify-content: space-between;
}
.comments_section .profile{
    width: 40px;
}
.post_comment_field .input{
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
border: 1px solid var(--outline, hsla(0, 0%, 0%, 0.12));
background: rgba(255, 255, 255, 0.87);
}
.post_comment_field .input .send_btn{
    cursor: pointer;
}
.comments_section .comments{
    gap: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.comments_section .one_comment{
    display: flex;
    gap: 8px;
    padding: 4px 0px;
    align-items: center;
    flex: 1 0 0;
    
}
.comments_section .one_comment .text{
    border-radius: 8px;
    border: 1px solid var(--outline, rgba(0, 0, 0, 0.12));
    background: #ececec;
    width: 100%;
    padding: 4px 8px;

}
.comments_section .one_comment .text .username .name{
    color: #3C3C3B;
    font-size: var(--body_L);
    font-weight: 700;
}
.comments_section .one_comment .text .username .post_time{
    color: #9E9D9D;
    font-size: var(--body_XS);
    font-weight: 400;
}
.comments_section .one_comment .text p{
    color: var(--black_high_emphasis);
    font-size: var(--body_N);
    font-weight: 400;
}
.post_options_dropdown{
    margin-right: 100px !important;
    border-radius: 6px !important;
    background-color: pink;
    z-index: 999;
}
.pagination_normal:hover{
    background-color: var(--secondary);
    opacity: 68%;
    border-radius: 8px ;
    color: white;
}
.pagination_active{
    background-color: var(--secondary);
    border-radius: 8px ;
    color: white;
}
