footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 64px;
}
footer .footer_content{
    padding: 0px 128px;
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}
footer .footer_content .logo_socials{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
footer .footer_content .logo_socials .socials{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
footer .footer_content .logo_socials .socials>div{
    border-radius: 8px;
    border: 1px solid var(--outline);
    padding: 8px;
}
footer .footer_content .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
footer .footer_content .links h3{
font-size: var(--h3);
color: var(--secondary);
font-weight: 700;
}
footer .footer_content .links .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
footer .footer_content .links .content p{
    font-size: var(--body_N);
    color: var(--black_medium_emphasis);
    font-weight: 400;
}
footer .copyright{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    align-self: stretch;
    justify-content: center;
    background-color: var(--primary);
    opacity: 0.8;
}
footer .copyright p{
    
    color: white;
    font-size: var(--body_L);
    font-weight: 600;

}