
footer {
    background-color: var(--primary-50);
    border-top: 1px solid #000;

}

footer   .socials>div{
    border-radius: 50%;
    padding: 8px;
    border: 1.5px solid var(--neutral-200);
}


 
 







@media only screen and (max-width: 1024px){
   
    footer .footer_content{
        padding: 0px 64px ;
        flex-direction: column;
        gap: 32px;
    }
    footer .footer_content .logo_socials{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    footer .footer_content .links{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
    }
   
    footer .footer_content .links .content{
     
        align-items: flex-end;
    }
}