.counter .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 32px 72px;
}
.relapsing-check .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    padding: 32px 72px;
}
.leaders-board .container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    padding: 32px 72px;
}



.latest-articles{

}

.counter .container h3{
    color: var(--on-surface);
    font-size: var(--h3);
    font-weight: 700;
}
.counter .container .stats{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
}
.counter .container .stats h4{
    font-size: var(--h4);
    color: var(--on-surface);
    font-weight: 700;
}
.check-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.check-btns div{
    width: 350px;
}
.leader_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.leaders-board .container h1{
    font-size: var(--h1);
    font-weight: 700;
    color: var(--primary);
}
.leaders_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.leader_card .card{
    width: 154px;
    height: 154px;
}
.leader_card h4{
    color: var(--on-surface_medium_emphasis);
    text-align: center;
    font-size: var(--h4);
    font-weight: 700;
}
.no_leaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    font-size: var(--h2);
}
