
.landing_header .left .content h1{
    color: var(--primary);
    font-size: var(--h1);
    font-weight: 700;
}
.landing_header .left .content p{
    font-size: var(--body_L);
    font-weight: 700;
    color: var(--black_medium_emphasis);
}
.landing_header .right{
    height: 100%;
}
.landing_header img{
    padding: 16px 0;
}

.landing_features h1{
    color: var(--primary);
    text-align: center;
    font-size: var(--h1);
    font-weight: 700;
    }

.landing_features  .content  h4{
    color: var(--secondary);
    font-size: var(--h4);
    font-weight: 700;
}
.landing_features  .content p{
    color: var(--black);
    font-size: var(--body_N);
    font-weight: 400;
}
.landing_about h1{
    color: var(--primary);
    font-size: var(--h1);
    font-weight: 700;
}
.landing_about>p{
    color: var(--black);
    font-size: var(--body_L);
    font-weight: 700;
    text-align: center;
}
.landing_about .team>p{
    color: var(--black);
    font-size: var(--body_L);
    font-weight: 700;
    text-align: center;
}
.landing_about .team .members .team_member{
    justify-content: space-between;
}
.landing_about .team .members .team_member .member_card{
    display: flex;
    width: 370px;
    min-height: 420px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.landing_about .team .members .team_member .member_card .information{
    display: flex;
padding: 4px 12px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
background: #FFE600;
}
.landing_about .team .members .team_member .member_card .information .name{
    font-size: var(--body_L);
    font-weight: 700;
    color: var(--black);   
}
.landing_about .team .members .team_member .member_card .information .role{
font-size: var(--body_S);
font-weight: 400;
color: var(--black_medium_emphasis);
}
.landing_about .team .members .team_member .description{
    justify-content: flex-end;
    align-items: flex-start;
    width: 60%;
    
}
.landing_about .team .members .team_member .description>p{
    
color: var(--black);
font-size: var(--body_N);
font-weight: 400;
}

.landing_about .team .members .team_member .description .social_media p{
    color: var(--black);
    font-size: var(--body_N);
    font-weight: 400;
}


.landing_contact h1{
    text-align: center;
   color: var(--primary);
   font-size: var(--h1);
   font-weight: 700;
}
.landing_contact p{
    color: var(--black);
    text-align: center;
    font-size: var(--body_L);
    font-weight: 700;
}
.landing_contact .form{
    align-items: flex-start;
    width: 50%;
}
.landing_contact .form .field{
    width: 100%;
}
.landing_contact .form .field .container{
    padding: 0px 12px;
    border-radius: 6px;
    border: 1px solid #000;
    width: 100%;
}
.landing_contact .form .field  .title_field{
    height: 32px;
    
}
.landing_contact .form .field .content_field{
    height: 98px;
}
.landing_contact .contact_submit{
    width: fit-content;
    margin: 0 auto;
}


@media only screen and (max-width: 1024px) {
  

.landing_header .left{
    height: calc(100vh - 90px);
    gap: 32px;
}
.landing_header .left .content h1{
    text-align: center;
}
.landing_header .left .content p{

    text-align: center;
    
}

.landing_header .right{
   display: none;
}

.landing_features{
  text-align: center;
}


.landing_about .team p{
    padding-bottom: 0;
}

.landing_contact{
    padding: 0 64px;
}
.landing_contact p{
    font-size: var(--body_N);
}
.landing_contact .form{
    width: 100%;
}
}
  @media only screen and (max-width: 797px) {
   
       
  .landing_about .team .members{
padding: 0;
  }
  
    .landing_about .team .members .team_member .member_card{
        display: flex;
        width: 100%;
        min-height: 250px;
    }
    .landing_about .team .members .team_member .description{
        width: 100%;  
    }
    
    
    
  }