
.landing_about h1{
    color: var(--primary);
    font-size: var(--h1);
    font-weight: 700;
}



.landing_about .members .team_member{
    width: fit-content;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    position: relative;
    border-radius: 16px;
    
   
}

.landing_about .members .img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 5px solid var(--secondary);
    background-repeat: no-repeat;
}

.landing_about  .members .team_member  .information{
   padding: 32px 16px;
    
}
.landing_about  .members .team_member  .information .name{
    font-size: var(--h2);
    font-weight: 700;
    color: var(--black);   
}
.landing_about  .members .team_member .information .role{
    font-size: var(--body_N);
    font-weight: 600;
    color: var(--black_medium_emphasis);
    }
 
    .landing_about  .members .team_member .information .descrtiption{
        color: var(--black);
        font-size: var(--body_N);
        font-weight: 400;
        height: 100%;
       
        }




.landing_about  .members .team_member  .social_media {
    color: var(--black);
    font-size: var(--body_N);
    font-weight: 400;
    position: absolute;
bottom: -20px;
    left: 0;
    width: 100%;
}
.landing_about  .members .team_member  .social_media a{
    background-color: var(--primary);
    color: white;
    padding: 8px;
    border-radius: 50%;
}


