.login_main{
    background-color: #F5F6FC;
    height: calc(100vh) ;
}

.authenticate_nav .menu_item{
        font-style: var(--body_N);
        color: var(--black_medium_emphasis);
}
.authenticate_nav .menu_item:hover{
    border-bottom: 2px solid var(--secondary);
    color: var(--secondary);
    }
.main_section{
    margin-top: 16px;
    height: calc(100% - 64px);
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}





.main_section  .alternative{
 
    justify-content: flex-end;
}
.main_section .alternative p{
    color: black;
    font-size: var(--body_N);
    font-weight: 400;
}

.main_section .right_container{
    height: 100%;
    border-radius: 0 16px 16px 0;

}
#login_section .right_container{
    background-color:#E8EAF7;
 
}
.main_section .right_container .title{
    font-size: var(--h2);
    font-weight: 700;
    text-align: center;
    }
#login_section .right_container .title{
    color: var(--primary);
}
.main_section .right_container .description{
    opacity: 0.5;
    font-size: var(--body_L);
    font-weight: 500;
}
#login_section .right_container .description{
    color: var(--primary);
}
@media only screen and (max-width: 1024px) {
    
    .main_section{
        height: 75vh;
        margin-top: 64px;
    }
    
    .main_section .left_container{
        height: 55%;
    }
    .main_section .right_container{
        height: 45%;
        border-radius: 16px 16px 0 0 ;
    }
      }