.navbar{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 70px;
    height: 12vh;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-right .btn{
    width: fit-content;
}
.nav-left{
    display: flex;
justify-content: center;
align-items: center;
gap: 32px;
}
.menubar{
display: flex;
align-items: flex-end;
gap: 48px;
}
.menu_item{
    font-style: var(--body_N);
    color: var(--on-surface_high_emphasis);
    list-style: none;
    cursor: pointer;
}
