.not_found_main{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
    height: 100vh;
}
.not_found_main span{
    font-size: 160px;
    color: #9e9e9e;
    line-height: 100%;
}
.not_found_main p{
    font-size: var(--body_L);
    text-align: center;
    width: 50vw;
}