.not_found_main{

    height: 100vh;
}
.not_found_main span{
    font-size: 10rem;
    color: #9e9e9e;
    line-height: 100%;
}
.not_found_main p{
    font-size: var(--body_L);
    text-align: center;
    width: 50vw;
}
@media only screen and (max-width: 797px) {
    .not_found_main{
        padding: 0 32px;
    }
      }