.signup_main{
    padding: 32px 64px;
    height: calc(100vh) ;
    background-color: #F0F4F8; 
}
#signup_section .right_container {
    background-color: #E0E7F0;
}

#signup_section .right_container .title{
    color: var(--accent); 
}

#signup_section .right_container .description{
    color: #3f433e; 
}
